@import "tailwindcss";

@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "black";
    default: true;
    --color-primary: black;

    --radius-selector: 1rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;
}